body {
    font-size: 18px;
    text-align: left;
    margin: 0;
transition-duration: 500ms;
}

h1 {
    font-family: "nunito sans";
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: rgb(45, 180, 90);
    margin-top: 30px;
    border: #008CBA;
    border-width: 3px;
}

h3 {
    font-family: "merriweather";
    margin: auto;
    font-weight: 400;
    font-size: 24px;
    padding: 6px 0px;
    color: #008CBA
}

h5 {
    font-family: "bebas neue";
    margin: auto;
    font-size: 80px;
    text-align: center;
    line-height: 140px;
    padding: 6px 0px;
    color: rgb(1, 172, 100)
}


h3.tooltip {
    color: white;
}

.text {
    position: sticky;
    display: block;
    font-family: "Nunito Sans";
    font-weight: 400;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(36, 84, 156, 0.747);
    line-height: 28px;
    color: #ffffff;
    padding-bottom: 30px;
}

select {
    width: 350px;
    background: white;
    font-size: 20px;
    font-family: "roboto";
    font-weight: 300;
    border-color: rgb(174, 193, 255);
    border-radius: 2px;
    border-width: 1.5px;
    line-height: 28px;
    box-shadow: none;
    padding: 3px;
    margin: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

input {
    width: 274px;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
    border-color: rgb(174, 193, 255);
    border-radius: 2px;
    line-height: 28px;
    box-shadow: none;
    padding: 3px;
    margin: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

button#submit {
    height: 34px;
    border-color: #008CBA;
    border-radius: 3px;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #ffffff;
    color: #008CBA;
    border-width: 1.5px;
}

button#submit:hover {
    background-color: rgb(255, 229, 85);
    color: rgb(0, 0, 0);
    border-color: #008CBA;
}

.summary {
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 700px;
    font-family: "Nunito Sans";
    line-height: 25px;
    font-weight: 00;
    margin: auto;
    color: #555;
    text-align: left !important;
}

#new {
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
    color: #008CBA;
}

#graph {
    position: relative;
    display: block;
    height: 900px;
    width: 800px;
    border-width: 2px;
    background: rgb(223, 223, 223);
    margin: auto;
    top: 100px;
}

#graph2 {
    position: relative;
    display: block;
    height: 3700px;
    width: 100%;
    border-width: 2px;
    background: rgb(255, 255, 255);
    margin: auto;
    top: 100px;
}

#mychart {
    height: 400px !important;
    width: 400px !important;
    margin: auto;
}

#h1 {
    font-family: "Nunito sans";
    font-weight: 400;
    font-size: 24px;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 1198px;
    line-height: 27px;

    padding: 0px 30px 0px 0px;
    color: #fff;
}

.line {
    display: block;
    position: absolute;
    background-color: #555;
}

#liney1 {
    height: 600px;
    width: 1px;
    left: 100px;
    top: 100px;
}

#linex1 {
    height: 1px;
    width: 600px;
    left: 100px;
    top: 700px;
}

#liney2 {
    height: 600px;
    width: 1px;
    left: 100px;
    top: 100px;
}

#linex2 {
    height: 1px;
    width: 70vw;
    left: 100px;
    top: 700px;
}

#lablex {
    position: absolute;
    display: block;
    font-family: Roboto;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    top: 720px;
    transform: rotate(0deg);
}

#lab{
    width: 200px;
    position: absolute;
    display: block;
    font-family: Roboto;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    left: 100px;
    padding-bottom: 0px;
}

.gdp {
    background-color: rgb(255, 219, 58);
    position: absolute;
    display: block;
    left: 305px;
    height: 5px;
    transition: 500ms;
}

.gdp:hover {
    opacity: 0.2;
}

#gdpii {
    background-color: blue;
    position: absolute;
    display: block;
    left: 305px;
    height: 1.5px;
}

#powerTip {
    font-family: "Nunito Sans";
    z-index: 10000;
    font-size: 16px;
}

h4 {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 24px;
}

a {cursor: pointer;
    text-decoration: none;
    color: rgb(0, 189, 157);
}

a:hover {
    color: #555;
}

.fa-male {
    font-size: 20px;
}

.foot {
    width: 100%;
    background: #008CBA;
    position: fixed;
    bottom: 0;
    height: 100px;
}
table,#update{
    font-family: "nunito sans";
    font-size: 20px;
    color: white;
}

th,td{
    padding: 5px 30px;
    width: 200px;

}